body {
    font-family: "Verdana";
    background-color: #F5EFFF;
    margin: 0px;
}
.logo{
    width: 200px;
    display: flex;
    margin-left: 0;
}
.header {
    background-color: #d4a8fb;
    color: white;
    font-family: "verdana";
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}  
.nav {
    margin-left: auto;
}
.nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #a151e7;
    font-weight: 600;
}
.nav a:hover {
    color: #4a148c;   
    font-weight: bold;
    }
.nav a:active {
    color: #2e0a5f;
    font-weight: bold;
    border-bottom: 2px solid #2e0a5f;
    }     
ul {
        list-style: none;
        padding: 0;
        margin: 0;
}
.menu li {
    display: inline-block;
    margin-right: 20px;
}
.header-button {
    text-decoration: none;
    color: darkviolet;
    background-color: rgb(255, 42, 255);
    padding: 10px 15px;
    border-radius: 5px;
}
* {
    box-sizing: border-box;
    font-family: Verdana;
  }
  
  body {
    margin: 0;
    background: #f4f0ff;
  }
  .summary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 40px; 
}
  .card-simpanan,
.card-pinjaman {
    margin: 30px;
    background: white;
    padding: 25px;
    min-height: 70px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.card-simpanan h3,
.card-pinjaman h3 {
    font-size: 14px;
    color: #6B7280;
    margin-bottom: 10px;
}

.card-simpanan p,
.card-pinjaman p {
    font-size: 18px;
    font-weight: 700;
}
.card-simpanan p {
    color: #16A34A; /* hijau */
}

.card-pinjaman p {
    color: #DC2626; /* merah */
}

  .container {
    padding: 60px;
  }
  
  .form-box {
    background: white;
    padding: 20px;
    border-radius: 20px;
    color: #260444;
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-top: 16px;
    margin-bottom: 6px;
    font-weight: 600;
  }
  
  input, select {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1.5px solid #333;
  }
  
  button {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background: #7B2CBF;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
  }
  
  .transaksi-box {
    margin-top: 30px;
    background: #8239d5;
    padding: 16px;
    border-radius: 16px;
  }
  
  .transaksi-header {
    background: rgba(255,255,255,0.25);
    color: white;
    font-weight: bold;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .transaksi-header,
  .transaksi-row {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 2.5fr 1.5fr 1.5fr;
    text-align: center;
    align-items: center;
  }
  
  .transaksi-row {
    background: white;
    color: #333;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 8px;
  }
  .badge {
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 600;
    display: inline-block;
  }
  
  /* SIMPANAN */
  .badge-simpanan {
    background: #dcfce7;
    color: #166534;
  }
  
  /* PINJAMAN */
  .badge-pinjaman {
    background: #fee2e2;
    color: #991b1b;
  }
  footer {
    background-color: #d4a8fb; 
    color: #ffffff;
    font-family: Verdana;
    }

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    gap: 10px;
    width: auto;
}

.footer-identitas h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.footer-alamat address {
    font-style: normal; 
    font-size: 14px;
    opacity: 0.9;
}

.footer-bottom {
    background-color: #54108f; 
    text-align: center;
    padding: 15px 10px;
}

.footer-bottom p {
    margin: 0;
    font-size: 13px;
}
